.bundleList {
  left: 0;
  position: sticky;
  top: calc(var(--dimension-navbar-height) + 24px);
}

.bundleListWrapper {
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
}

.bundleListTitle {
  margin-top: 0;
}
