@import 'animations.css';

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 142px;
  padding: var(--space-8) 0 0;
  position: relative;
  width: 100px;
}

.cardImageWrapper,
.cardImage {
  width: 75px;
}

.cardImageWrapper {
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.cardImage {
  animation: fade-in var(--transition-timing-5) ease 1 backwards;
  height: 75px;
}

.cardTitle {
  color: var(--color-brand-purple);
  font-size: 12px;
  text-align: center;
}

.cardTitlePlaceholder {
  color: var(--color-gray-500);
}

.cardBtn {
  height: 24px;
  inset: var(--space-8) 0 auto auto;
  position: absolute;
  width: 24px;
}

.cardIcon {
  height: 20px;
  width: 20px;
}

@media (--large-viewport) {
  .card {
    box-shadow: var(--box-shadow-bottom);
    flex-direction: row;
    height: auto;
    padding-bottom: var(--space-16);
    width: auto;
  }

  .card:last-child {
    box-shadow: none;
    padding-bottom: var(--space-8);
  }

  .cardImageWrapper {
    width: 100px;
  }

  .cardImage {
    height: 100px;
    width: 100px;
  }

  .cardTitle {
    font-size: 14px;
    text-align: left;
  }
}
