.button {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: var(--border-radius-6);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  height: 36px;
  justify-content: center;
  line-height: 1;
  padding: var(--space-12) var(--space-20);
  transition: all var(--transition-timing-2);
}

.button > svg {
  flex-shrink: 0;
}

.button:disabled {
  cursor: default;
  opacity: var(--opacity-disabled);
}

.primary {
  background-color: var(--color-solid-primary);
  color: var(--text-theme-light);
}

.rounded {
  background-color: var(--color-solid-primary);
  border-radius: 100%;
  fill: var(--text-theme-light);
  height: 32px;
  padding: 0;
  width: 32px;
}

.rounded:disabled {
  background-color: var(--color-gray-400);
  cursor: not-allowed;
  fill: currentcolor;
}

.roundedSecondary {
  composes: rounded;
  background-color: var(--color-solid-secondary);
}

.unstyled {
  border-radius: 0;
  color: inherit;
  height: auto;
  padding: var(--space-10);
}

@media (hover: hover) and (pointer: fine) {
  .rounded:hover:not(:disabled),
  .primary:hover:not(:disabled) {
    background-color: var(--color-solid-primary-dark);
  }

  .roundedSecondary:hover:not(:disabled) {
    @mixin backgroundLightness var(--color-solid-secondary-hs),
      var(--color-solid-secondary-l), 8%;
  }
}
