.pagePadding {
  padding: 0 var(--space-16);
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageHeader {
  composes: pagePadding;
  align-items: center;
  background-color: var(--color-surface-primary);
  box-shadow: var(--box-shadow-bottom);
  display: flex;
  height: var(--dimension-navbar-height-mobile);
  inset: 0;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo {
  height: 48px;
  width: 70px;
}

.pageContainer {
  composes: pagePadding;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.pageContent {
  max-width: var(--dimension-max-width);
  padding: calc(var(--dimension-navbar-height-mobile) + var(--space-10)) 0
    var(--space-24);
  width: 100%;
}

.pageFooter {
  composes: pagePadding;
  background-color: var(--color-brand-purple);
  color: var(--color-gray-0);
  display: flex;
  font-size: 14px;
  height: 200px;
}

.pageFooterContainer {
  flex: 1;
  padding: var(--space-24) 0;
}

@media (--medium-viewport) {
  .pageHeader {
    height: var(--dimension-navbar-height);
  }

  .logo {
    height: 58px;
    width: 80px;
  }

  .pagePadding,
  .pageContainer {
    padding: 0 var(--space-32);
  }

  .pageContainer {
    margin: 0 auto;
    width: 100%;
  }

  .pageContent {
    padding: calc(var(--dimension-navbar-height) + var(--space-16)) 0
      var(--space-32);
  }
}
